<template name="AppNav">
    <div class="app-nav">
        <ul>
            <li><a href="/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
            <hr>
            <li><a href="/peoplemanagement"><i class="fa fa-users"></i> <span>People Management</span></a></li>
            <li><a href="/contentfeeds"><i class="fa fa-newspaper-o"></i> <span>Content Feeds</span></a></li>
            <hr>
            <li><a href="/usersettings"><i class="fa fa-cogs" aria-hidden="true"></i>
 <span>User Settings</span></a></li>
        </ul>
    </div>
</template>