<template name="Footer">
              <br>  
   
            <div class="row" style="padding:10px;">
           
   
    	<div class="col-sm-12 col-md-4 col-lg-3" >
    				<div class="cuadro_intro_hover " style="background-color:#cccccc;">
						<p style="text-align:center; margin-top:20px;">
							<img src="http://placehold.it/500x330" class="img-responsive" alt="">
						</p>
						<div class="caption">
							<div class="blur"></div>
							<div class="caption-text">
								<h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">Placeholder Brand</h3>
								<p>Placeholder Summary</p>
                                <div class="btn-group">
								<a class="btn" href="#"><span class=" fa fa-plus "> Sponsor</span></a>
                                </div>
							</div>
						</div>
					</div>
				
	    </div>
       <div class="col-sm-12 col-md-4 col-lg-3" >
    				<div class="cuadro_intro_hover " style="background-color:#cccccc;">
						<p style="text-align:center; margin-top:20px;">
							<img src="http://placehold.it/500x330" class="img-responsive" alt="">
						</p>
						<div class="caption">
							<div class="blur"></div>
							<div class="caption-text">
								<h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">Placeholder Brand</h3>
								<p>Placeholder Summary</p>
                                <div class="btn-group">
								<a class="btn" href="#"><span class=" fa fa-plus "> Advertisement</span></a>
                                </div>
                            </div>
						</div>
					</div>
				
	    </div>
            
    
            <div class="col-md-12 col-md-4 col-lg-3" align="center">
                
                
			<h3>Categories:</h3>
                <ul style="text-align:right;margin-right:100px;padding:2px;">
				<li><a href=""><b><i class="fa fa-cloud"></i></b> @News</a></li>
				<li><a href=""><b><i class="fa fa-coffee"></i></b> @People</a></li>
				<li><a href=""><b><i class="fa fa-glass"></i></b> @Place</a></li>
				<li><a href=""><b><i class="fa fa-diamond"></i></b> @Events</a></li>
				<li><a href=""><b><i class="fa fa-bicycle"></i></b> @Products</a></li>
				<li><a href=""><b><i class="fa fa-lemon-o"></i></b> @Corporate</a></li>
                <li><a href=""><b><i class="fa fa-balance-scale"></i></b> @Legal</a></li>
				</ul>
            </div>

            <div class="col-md-12 col-md-6 col-lg-3 ">
                <h3>Help / Contact:</h3>
				<p>Have a question or feedback?</p>
				<p><a href="" title=""><i class="fa fa-envelope"></i> Email Management</a></p>
                <hr>
            <h3>Corporate Channels:</h3>
			
			
<a href="" id="gh" target="_blank" title="Twitter"><span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-twitter fa-stack-1x"></i>
</span>
Twitter</a>
<a href=""  target="_blank" title="GitHub"><span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-github fa-stack-1x"></i>
</span>
GitHub</a>

			</div>
            
            <br><br><br><hr><br><br><br>
			<div class="col-sm-12 col-md-6 col-lg-12" style="text-align:center;" >
                    <p>Copyright © Your IP &amp; Domain | <a href=""><i class="fa fa-snowflake-o"></i> Privacy Policy</a> | <a href=""><i class="fa fa registered"></i> Cookie Policy</a></p>
					
                   </div></div>
	
</template>